#main{
    background-color: #212121;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height:720px;
    flex-direction: column;
}

#clock{
    background-color:orange;
    font-size: 40px;
    padding: 25px 50px;
    margin: 25px;
    border-radius: 10px;
    font-family: Orbitron;
    letter-spacing: 7px;
}